
@{
    ViewData["Title"] = "Kavenegar Sample";
}

<div class="text-center">
    <h1 class="display-4">Kavenegar SMS Management</h1>
</div>

<div class="row mt-5">
    <div class="col-md-6 mb-3">
        <a asp-action="SendPublicSMS" asp-controller="Home" class="btn w-100 btn-primary">Send Public SMS</a>
    </div>
    <div class="col-md-6 mb-3">
        <a asp-action="SendLookupSMS" asp-controller="Home" class="btn w-100 btn-success">Send Lookup SMS</a>
    </div>
</div>
